.card {
  border: 3px solid white;
  width: 100%;
  opacity: 1;
  transition: .3s;
}

.container-image {
  display: block;
  width: 298px;
  height: 300px;
  margin: auto;
  
}

@media (min-width: 768px) {
  .container-image {
    height: 100%;
    max-height: 300px;
  }
}

.wrapper-image {
  overflow: hidden;
  text-align: center;
}

.preimg {
  width: auto;
  height: 100%;
  margin: auto 0 auto 0;
  object-fit: cover;
  
}

.bg-bad-card {
  border: 1px solid rgb(160, 4, 4);
}

.bg-bad-card:hover {
  box-shadow: 0px 0px 25px 15px rgba(160, 4, 4, 0.1);
}

.bg-normal-card {
  border: 1px solid rgb(90, 88, 88);
}

.bg-normal-card:hover {
  box-shadow: 0px 0px 25px 15px rgba(90, 88, 88, 0.1);
}

.bg-good-card {
  border: 1px solid rgb(30, 97, 3);
}

.bg-good-card:hover {
  box-shadow: 0px 0px 25px 15px rgba(30, 97, 3, 0.1);
}