.full-review__containter {
  width: 300px;
  overflow: hidden;
  margin: auto;
}

@media (min-width: 768px) {
  .full-review__containter {
    margin: 0;
  }
}

.form-select {
  font-family: "Roboto";
  font-weight: 400;
}

.full-review__poster {
  object-fit: contain;
}

.bg-bad-full-review {
  border: 3px solid rgb(160, 4, 4);
}

.bg-normal-full-review {
  border: 3px solid rgb(90, 88, 88);
}

.bg-good-full-review {
  border: 3px solid rgb(30, 97, 3);
}

