.button-tags-active {
  border: 0;
  border: 3px solid transparent;
  border-bottom: 3px solid #6c757d;
  border-radius: 0;
}

.button-tags {
  border: 3px solid transparent;
  border-radius: 0;
}

.button-tags:hover,
.button-tags-active:hover {
  border: 3px solid transparent;
  border-bottom: 3px solid #6c757d;
}